body {
    background-color: rgb(58, 58, 58);
}

#pad1 {
    padding-bottom: 8%;
}

.footer {
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding-bottom: 50px;
}

.gifTop {
    margin: 0px auto 2% auto;
    width: 75%;
    display: block;
}

.title {
    color: red;
}
